<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    <iframe src="https://cdn.forms-content-1.sg-form.com/e488490f-07ec-11f0-b5f7-26683ba3d1ec"/>
  </p>
  <p>
    <a href="{{ '/pages/imprint' | url }}">Imprint</a> · 
  </p>
</footer>
