---
meta:
  lang: en
  title: Joe for DVSD
  image: "/assets/images/open-graph/teaser.jpeg"
  description: Joe Kuemerle for Delaware Valley School District Director.
layout: base
eleventyNavigation:
  key: About
---

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
    <h1 class="display-5 fw-bold">About Me</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
        My name is Joe Kuemerle and I am running for a spot as a Director for the Delaware Valley School Board. I have been a resident of Pike County since 2014 and two of my children have graduated from DVSD.
    </p>
    <p class="col-md-10 fs-4 mb-0 pt-2">
        With my skills as a cybersecurity engineer I  bring a deep knowledge of technolgy, how to best use it for education and how to provide a secure digital environment for learning.
    </p>
    <p class="col-md-10 fs-4 mb-0 pt-2">
        As a community member and active volunteer I will work to include the Delaware Valley School District into the community.
    </p>
    <p class="col-md-10 fs-4 mb-0 pt-2">
        I have served as the Milford Township Judge of Elections since 2023, in which I have helped to ensure the secuirty and integrity of all votes cast in Milford Township.
    </p>
    <p class="col-md-10 fs-4 mb-0 pt-2">
        As the Vice President and instructor of the non-profit <a href="https://milfordtkd.org" targe"_blank">Milford Tae Kwon Do</a> I have worked to bring the training and discipline of martial arts to children and adults of our community. 
    </p>
    <p class="col-md-10 fs-4 mb-0 pt-2">
        As volunteer organizer of the <a href="https://techbash.com" target="_blank">Techbash Conference</a> in Mt. Pocono, PA I have built trainings and cirriculum to expand children and families userstanding of technology and programming.
    </p>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="img-fit-cover-container rounded-3 bg-light">
      {% image "./src/assets/images/graduation.JPG", "DVSD Graduation" %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 py-5 text-center">
    Please reach out if you have any questions.
  </div>
</div>

<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
