---
meta:
  lang: en
  title: Election Dates
  description: Joe Kuemerle for Delaware Valley School District Director.
layout: base
eleventyNavigation:
  key: Dates
---

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
    <h1 class="display-5 fw-bold">2025 Election Dates</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
        &#x2610;&nbsp;Voter registration deadline, new voter applications must be received by October 20, 2025.
    </p>
    <p class="col-md-10 fs-4 mb-0 pt-2">
        &#x2610;&nbsp;Mail In Ballot requests must be received by October 28, 2025.
    </p>
    <p class="col-md-10 fs-4 mb-0 pt-2">
        &#x2610;&nbsp;Mail in Ballots must be received by the Board of Elections by 8:00 PM on November 4, 2025. 
        Ballots can be returned by mailing them back or dropped off in person at drop box in the <a href="https://www.pikepa.org/government/elections_office/index.php" target="_blank">Pike County Board of Elections</a> (506 Broad Street Milford, PA 18337) 
    </p>
    <p class="col-md-10 fs-4 mb-0 pt-2">
        &#x2610;&nbsp;Election day is November 4, 2025. Polls are open from 7 AM until 8 PM. Find your polling place <a href="https://www.pikepa.org/government/elections_office/polling_locations.php" target="_blank">here</a>.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 py-5 text-center">
    Please reach out if you have any questions.
  </div>
</div>

<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
