---
meta:
  lang: en
  title: Joe for DVSD
  image: "/assets/images/open-graph/teaser.jpeg"
  description: Joe Kuemerle for Delaware Valley School District Director.
layout: base
eleventyNavigation:
  key: Home
---

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
    <h1 class="display-5 fw-bold">{{ site.title }}</h1>
    <p class="col-md-10 fs-4 mb-0 pt-2">
      My name is Joe Kuemerle and I am running to be one of the next directors of the Delaware Valley School District Board. 
      I am a parent of two DVSD graduates, an active member of the community and dedicated to improving our school district. 
      My major platform goals are listed below.
    </p>
    <p class="mt-4">
      <small>Status: Always a bit "work in progress", but good to go.</small>
    </p>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 text-white rounded-3" style="background-color: #3148F6">
      <h2>Academic Excellence</h2>
      <p>
        Our school district must continue to grow and improve. Supporting our teachers and staff to enable all students to achieve their best results is a critical function of the school board.       </p>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #3148F6">
      <h2>Academic Integrity</h2>
      <p>
        Students are able to excel when they have access to all opportunities. Our school district must support the freedom for our students to learn all that they can and never bow to banning books. Parents already have district provided tools to manage their individual preferences for their own students and cannot infringe upon others rights.
      </p>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 border rounded-3" style="background-color: #3148F6">
      <h2>Student Support</h2>
      <p>
        I will support all DVSD students in their rights to a safe and vibrant school experience. Providing the best curriculum and materials as well as a rich set of extracurricular activities will give our students the ability to succeed in a competitive world.
      </p>      
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="h-100 p-5 text-white rounded-3" style="background-color: #3148F6">
      <h2>Responsible Spending</h2>
      <p>
        Maintaining a responsible budget is a key duty of the school board. I will work to ensure that the Delaware Valley School District maintains the public trust in spending and work to ensure that school taxes are used most effectively.
      </p>
    </div>
  </div>
</div>
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-2">
      <p class="col-md-10 fs-4 mb-0 pt-2">
      </p>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <div class="img-fit-cover-container rounded-3 bg-light">
      {% image "./src/assets/images/graduation.JPG", "DVSD Graduation" %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 py-5 text-center">
    Please reach out if you have any questions.
  </div>
</div>

<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
